{{ template "base" . }}
{{ define "title" }} RPS web - Acerca de {{ end }}
{{ define "content" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h2 class="py-2">Acerca de Litoos11</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, id debitis a cupiditate maxime iure vitae neque
          quos quisquam cumque maiores nesciunt quidem illum necessitatibus ipsam porro recusandae dolores fuga?</p>
        <p>Sapiente saepe ab totam temporibus eius, consectetur, fugit modi sit ullam ipsum distinctio expedita neque
          minus non a nihil! Laboriosam, illum? Nostrum ut praesentium incidunt laborum nisi ab, temporibus
          necessitatibus.</p>
        <p>Aut iusto quibusdam necessitatibus repellat error praesentium accusamus iure quisquam nobis consequatur at
          distinctio non sit recusandae eaque facilis, aperiam consectetur minus, temporibus doloribus eum esse ullam
          rem. Adipisci, doloremque.</p>
        <p>Eos sit exercitationem quisquam vitae fuga quos est, unde ipsa consequuntur minima expedita accusamus, eius
          iusto error reprehenderit accusantium nisi beatae esse eum cumque iste! Reprehenderit beatae sunt in eum.</p>

        <ul class="py-3">
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}