{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ template "title" . }}</title>
</head>

<body>
  <header>
    <div>
      <a href="/">RSP</a>
    </div>
    <nav>
      <a href="/new">Nuevo</a>
      <a href="/about">Acerca de</a>
      <a href="/new"></a>
      <a href="/new"></a>
    </nav>
  </header>
  {{ template "content" . }}
  <footer>
    <p>Creado por litoos11 &copy; 2025</p>
  </footer>

</body>

</html>
{{ end }}